## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

IMPORTING OF LIBRARIES

In [1]:
import pandas as pd # for reading our data
import numpy as np  # for performing calculations
import seaborn as sns # for visualization
import matplotlib.pyplot as plt # for visualization
%matplotlib inline

import scipy.stats as stat # to calculate statistical operations

from statsmodels.formula.api import ols #for creating a model

from sklearn.model_selection import train_test_split # for performing train train_test_split on our data
from sklearn.linear_model import LinearRegression # making a LinearRegression model
from sklearn.metrics import mean_squared_error # for calculating error metrics to evaluate our model

LOADING DATA INTO A DATAFRAME

In [9]:
kc_data_df = pd.read_csv('data/kc_house_data.csv')

Let create a function that give us a brief descriptive analysis of our data set

In [12]:
# Let's create a function that does some bit of descriptive analysis to understand our dataset

def descriptive_stats(data, num_rows=10):
     # Print the first few rows of the dataset
    print("\nFirst {} rows of the dataset:\n".format(num_rows))
    print(data.head(num_rows))

    # Print the column data types
    print("\nColumn data types:\n")
    print(data.dtypes)

    # Print the missing values count
    print("\nMissing values count:\n")
    print(data.isnull().sum())

    # Print the summary statistics
    print("\nSummary statistics:\n")
    print(data.describe())

In [13]:
descriptive_stats(kc_data_df)

First 10 rows of the dataset:

           id        date      price  bedrooms  bathrooms  sqft_living  \
0  7129300520  10/13/2014   221900.0         3       1.00         1180
1  6414100192   12/9/2014   538000.0         3       2.25         2570
2  5631500400   2/25/2015   180000.0         2       1.00          770
3  2487200875   12/9/2014   604000.0         4       3.00         1960
4  1954400510   2/18/2015   510000.0         3       2.00         1680
5  7237550310   5/12/2014  1230000.0         4       4.50         5420
6  1321400060   6/27/2014   257500.0         3       2.25         1715
7  2008000270   1/15/2015   291850.0         3       1.50         1060
8  2414600126   4/15/2015   229500.0         3       1.00         1780
9  3793500160   3/12/2015   323000.0         3       2.50         1890

   sqft_lot  floors waterfront  view  ...          grade sqft_above  \
0      5650     1.0        NaN  NONE  ...      7 Average       1180
1      7242     2.0         NO  NONE  ...      7 Average       2170
2     10000     1.0         NO  NONE  ...  6 Low Average        770
3      5000     1.0         NO  NONE  ...      7 Average       1050
4      8080     1.0         NO  NONE  ...         8 Good       1680
5    101930     1.0         NO  NONE  ...   11 Excellent       3890
6      6819     2.0         NO  NONE  ...      7 Average       1715
7      9711     1.0         NO   NaN  ...      7 Average       1060
8      7470     1.0         NO  NONE  ...      7 Average       1050
9      6560     2.0         NO  NONE  ...      7 Average       1890

   sqft_basement yr_built  yr_renovated  zipcode      lat     long  \
0            0.0     1955           0.0    98178  47.5112 -122.257
1          400.0     1951        1991.0    98125  47.7210 -122.319
2            0.0     1933           NaN    98028  47.7379 -122.233
3          910.0     1965           0.0    98136  47.5208 -122.393
4            0.0     1987           0.0    98074  47.6168 -122.045
5         1530.0     2001           0.0    98053  47.6561 -122.005
6              ?     1995           0.0    98003  47.3097 -122.327
7            0.0     1963           0.0    98198  47.4095 -122.315
8          730.0     1960           0.0    98146  47.5123 -122.337
9            0.0     2003           0.0    98038  47.3684 -122.031

   sqft_living15  sqft_lot15
0           1340        5650
1           1690        7639
2           2720        8062
3           1360        5000
4           1800        7503
5           4760      101930
6           2238        6819
7           1650        9711
8           1780        8113
9           2390        7570

[10 rows x 21 columns]

Column data types:

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront        object
view              object
condition         object
grade             object
sqft_above         int64
sqft_basement     object
yr_built           int64
yr_renovated     float64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

Missing values count:

id                  0
date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2376
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

Summary statistics:

                 id         price      bedrooms     bathrooms   sqft_living  \
count  2.159700e+04  2.159700e+04  21597.000000  21597.000000  21597.000000
mean   4.580474e+09  5.402966e+05      3.373200      2.115826   2080.321850
std    2.876736e+09  3.673681e+05      0.926299      0.768984    918.106125
min    1.000102e+06  7.800000e+04      1.000000      0.500000    370.000000
25%    2.123049e+09  3.220000e+05      3.000000      1.750000   1430.000000
50%    3.904930e+09  4.500000e+05      3.000000      2.250000   1910.000000
75%    7.308900e+09  6.450000e+05      4.000000      2.500000   2550.000000
max    9.900000e+09  7.700000e+06     33.000000      8.000000  13540.000000

           sqft_lot        floors    sqft_above      yr_built  yr_renovated  \
count  2.159700e+04  21597.000000  21597.000000  21597.000000  17755.000000
mean   1.509941e+04      1.494096   1788.596842   1970.999676     83.636778
std    4.141264e+04      0.539683    827.759761     29.375234    399.946414
min    5.200000e+02      1.000000    370.000000   1900.000000      0.000000
25%    5.040000e+03      1.000000   1190.000000   1951.000000      0.000000
50%    7.618000e+03      1.500000   1560.000000   1975.000000      0.000000
75%    1.068500e+04      2.000000   2210.000000   1997.000000      0.000000
max    1.651359e+06      3.500000   9410.000000   2015.000000   2015.000000

            zipcode           lat          long  sqft_living15     sqft_lot15
count  21597.000000  21597.000000  21597.000000   21597.000000   21597.000000
mean   98077.951845     47.560093   -122.213982    1986.620318   12758.283512
std       53.513072      0.138552      0.140724     685.230472   27274.441950
min    98001.000000     47.155900   -122.519000     399.000000     651.000000
25%    98033.000000     47.471100   -122.328000    1490.000000    5100.000000
50%    98065.000000     47.571800   -122.231000    1840.000000    7620.000000
75%    98118.000000     47.678000   -122.125000    2360.000000   10083.000000
max    98199.000000     47.777600   -121.315000    6210.000000  871200.000000